# Video Game Analysis
Author: Rob Kelley
Date: 2/14/22
Version: 1.0

In [52]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [53]:
df = pd.read_csv('vgsales.csv')

In [54]:
df.sample(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
10539,10541,Yggdra Union: We'll Never Fight Alone,PSP,2008.0,Role-Playing,Sting,0.05,0.00,0.04,0.01,0.10
9166,9168,NCAA Basketball Final Four 97,PS,1997.0,Sports,Mindscape,0.08,0.05,0.00,0.01,0.14
12542,12544,Little League World Series Baseball 2008,DS,2008.0,Sports,Activision,0.06,0.00,0.00,0.00,0.06
9348,9350,Hisshou Pachinko*Pachi-Slot Kouryaku Series Vo...,PS2,2005.0,Misc,D3Publisher,0.00,0.00,0.13,0.00,0.13
2518,2520,DmC: Devil May Cry,PS3,2013.0,Action,Capcom,0.24,0.28,0.19,0.12,0.82
16448,16451,Assassin's Creed Chronicles,XOne,2016.0,Action,Ubisoft,0.00,0.01,0.00,0.00,0.01
13444,13446,Nanda's Island,DS,2009.0,Puzzle,Phenomedia,0.04,0.00,0.00,0.00,0.05
1592,1594,Black,PS2,2006.0,Shooter,Electronic Arts,1.01,0.04,0.03,0.16,1.25
4556,4558,Midway Arcade Treasures,XB,2003.0,Misc,Midway Games,0.33,0.08,0.00,0.01,0.43
16427,16430,Virtua Quest,GC,NaN,Role-Playing,Unknown,0.01,0.00,0.00,0.00,0.01

In [55]:
df.dtypes

Rank              int64
Name             object
Platform         object
Year            float64
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
dtype: object

In [56]:
df.Year = list(map(lambda x: str(x)[0:4], df.Year))

In [57]:
df.columns

Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [58]:
df.rename(columns={'Global_Sales':'Global_Sales_M'},inplace=True)

In [59]:
df.rename(columns={'EU_Sales':'EU_Sales_M','JP_Sales':'JP_Sales_M','Other_Sales':'Other_Sales_M'},inplace=True)

In [60]:
df.dtypes

Rank                int64
Name               object
Platform           object
Year               object
Genre              object
Publisher          object
NA_Sales          float64
EU_Sales_M        float64
JP_Sales_M        float64
Other_Sales_M     float64
Global_Sales_M    float64
dtype: object

In [61]:
#df.drop('Rank', inplace=True, axis=1)

In [63]:
df.sample(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales_M,JP_Sales_M,Other_Sales_M,Global_Sales_M
12185,12187,Brain Quest: Grades 3 & 4,DS,2008,Misc,Electronic Arts,0.06,0.00,0.00,0.01,0.07
10531,10533,X-Men: Children of the Atom,PS,1998,Fighting,Acclaim Entertainment,0.06,0.04,0.00,0.01,0.10
14646,14649,Botanicula,PC,2012,Adventure,Daedalic Entertainment,0.00,0.02,0.00,0.00,0.03
11187,11189,Rollcage Stage II,PS,2000,Racing,Sony Computer Entertainment,0.05,0.03,0.00,0.01,0.09
4930,4932,All-Star Baseball 2000,N64,1999,Sports,Acclaim Entertainment,0.36,0.03,0.00,0.00,0.39
8562,8564,NASCAR Heat 2002,GBA,2002,Racing,Infogrames,0.12,0.04,0.00,0.00,0.16
14436,14439,Gloria Union,PSP,2011,Role-Playing,Atlus,0.00,0.00,0.03,0.00,0.03
2938,2940,Fire Emblem: Monsh? no Nazo,SNES,1994,Role-Playing,Nintendo,0.00,0.00,0.70,0.00,0.70
5468,5470,The Sims 2,GC,2005,Simulation,Electronic Arts,0.26,0.07,0.00,0.01,0.33
11,12,Mario Kart DS,DS,2005,Racing,Nintendo,9.81,7.57,4.13,1.92,23.42

In [68]:
df.columns

Index(['Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales_M', 'JP_Sales_M', 'Other_Sales_M', 'Global_Sales_M', 'Rank'],
      dtype='object')

In [67]:
df.columns = ['Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales_M', 'JP_Sales_M', 'Other_Sales_M', 'Global_Sales_M','Rank']

In [69]:
df.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales_M,JP_Sales_M,Other_Sales_M,Global_Sales_M,Rank
0,1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37